@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a href="https://dak4.net" target="_blank">dak4.net</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
