apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-queue
spec:
  selector:
    matchLabels:
      app: signup
      component: message-queue
  template:
    metadata:
      labels:
        app: signup
        component: message-queue
    spec:
      containers:
      - image: nats:2.1.7-alpine3.11
        name: message-queue
        ports:
        - containerPort: 4222
          name: nats
        readinessProbe:
          tcpSocket:
            port: nats
        livenessProbe:
          tcpSocket:
            port: nats
      nodeSelector:
        beta.kubernetes.io/os: linux